<a href="https://colab.research.google.com/github/FAIZAADNAN/FAIZAADNAN/blob/main/chapter_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Exercise 1.Type out the code below and add the correct data types to complete the variables

  1.Assign a message to a variable, and print that message.
 Then change the value of the variable to a new message, and print the new message

In [ ]:
#creating and printing a message to user
msg = "I love to go swtizerland."
print(msg)

msg = "Its our first trip."
print(msg)

I love to go swtizerland.
Its our first trip.

In [ ]:
Exercise 2.Find a quote from a famous person you admire. Print the quote and the name of its author.

Your output should look something like the following, including the quotation marks:

Albert Einstein once said, “A person who never made a mistake never tried anything new.

In [ ]:
print('Albert Einstein once said," A person who never made a mistake')
print('never tried anything new."')

Albert Einstein once said," A person who never made a mistake
never tried anything new."

In [ ]:
Exercise 3.Tidy up the code to make it easier to understand

Use a variable to represent a person’s name, and include some whitespace characters at the beginning and end of the name.
 Make sure you use each character combination, “\t” and “\n”, at least once.

Print the name once, so the whitespace around the name is displayed.

Then print the name using each of the three stripping functions, lstrip(), rstrip(), and strip().

In [ ]:
# using of lstrip() function to remove spaces from left side of the string
word= '   i love siwtzerland'
new_word=word.lstrip()
print(word)
print(new_word)

   i love siwtzerland
i love siwtzerland

In [ ]:
# using of rstrip() fucntion to remove spaces from right side of the string
word= '    i love switzerland'
new_word=word.rstrip()
print(word)
print(new_word)

    i love switzerland
    i love switzerland

In [ ]:
#to add a tab to your text, use the character combination \t:


print("i love my husband we are going to switzerland is \t ")

#using of strip() function to remove spaces from right side of the string \n:

print("\n")

print("i love my husband we are going to switzerland is \n")
print("\n")

#using of lstrip() function to remove spaces from left side of the string \n:

print("\n")
print("i love my husband we are going to switzerland is \n")
print("\n")

i love my husband we are going to switzerland is


i love my husband we are going to switzerland is





i love my husband we are going to switzerland is

In [ ]:
Exercise 4: Favorite Number ☑️
Use a variable to represent your favorite number. 
Then,using that variable, create a message that reveals your favorite number.
 Print that message.

In [ ]:
# creating a message that reveals your favorite number 
A = input("Enter your fav number")
print("my favourite number is")

Enter your fav number5
my favourite number is

In [ ]:
Exercise 5: USB Shopper ☑️
A girl heads to a computer shop to buy some USB sticks. She loves USB sticks and wants as many as she can get for £50. They are £6 each.

Write a programme that calculates how many USB sticks she can buy and how many pounds she will have left.

You will to use the arithmetic operators to complete this exercise.

In [ ]:
# girl goes to the shopkeeper

print('A girl goes to the shopkeeper')
print('what is the price of the usb')
print('shopkeeper$6')
print('girl please give me usb sticks for 50$')

No_of_usb= 50/6
Money_back= 50%6
print('The shopkeeper gives the girl'+str(No_of_usb)+'USBs'+' and returns her' +str(Money_back)+'$')
print('The shopkeeper gives the girl'+str(50/6)+'USBs'+' and returns her' +str(50%6)+'$')

A girl goes to the shopkeeper
what is the price of the usb
shopkeeper$6
girl please give me usb sticks for 50$
The shopkeeper gives the girl8.333333333333334USBs and returns her2$
The shopkeeper gives the girl8.333333333333334USBs and returns her2$

In [ ]:
Extra Programmes

In [ ]:
#printing the area of the square
print("area of the square:")

side= int(input())
print('side of the square=',side)
print('the area of the square with sides'+ str(side)+'units='+ str(side**2)+ 'sq units')

area of the square:
4
side of the square= 4
the area of the square with sides4units=16sq units

In [ ]:
print("the radius of the circle:")
pi=3.14
radius= int(input())
print('the radius of the circle=',radius)
print('the area of the circle '+str(radius)+'units'+str(pi*radius**2)+ 'sq units')

the radius of the circle:
6
the radius of the circle= 6
the area of the circle 6units113.04sq units

In [ ]:
sentence1='i love to go switzerland:'


sentence2='with my husband:'


sentence3='we enjyoed alot'


#strings concatenation
print(sentence1+sentence2+sentence3)

i love to go switzerland:with my husband:we enjyoed alot

In [ ]:
#use of lstrip() function to remove spaces left side of the string
word='   python'
new_word=word.lstrip
print(word)
print(new_word)

   python
<built-in method lstrip of str object at 0x7efe4d5ed070>

In [ ]:
#use of rstrip() function to remove spaces right side of string
word= '   python'
new_word=word.rstrip
print(word)
print(new_word)

   python
<built-in method rstrip of str object at 0x7efe4d5e28b0>

In [ ]:
#to add a tab to your text, use the character combination \t

print("i love my husband we are going to switzerland is \t python")

#to add a newline in a string,use the character combination \n:

print("\n")

print("i love my husband we are going to switzerland:\npython\nc\njavascript")
print("\n")
#formatting using \t \n
print("i love my husband we are going to switzerland:\n\tpython\n\tc\n\tjavascript")

i love my husband we are going to switzerland is 	 python


i love my husband we are going to switzerland:
python
c
javascript


i love my husband we are going to switzerland:
	python
	c
	javascript

In [ ]:
# Multiple assignments
a=100
b=200
c=300
d=400
print(a) #print multiple value
print("The value of a is:" + str(a))
print(b) #print multiple value

100
The value of a is:100
200

In [ ]:
a=('iam loving life of 2')
print(a)

b=(22334547)
print(b)

c=(4+10j)
print(c)

#type()print the datetype of the variables

print("Type of a is",type(a))
print("Type of b is" ,type(b))
print("Type of c is",type(c))

iam loving life of 2
22334547
(4+10j)
Type of a is <class 'str'>
Type of b is <class 'int'>
Type of c is <class 'complex'>

In [ ]:
#use of type() function in python-The type() function is used to get the type of an object
X=10
y=3.14
z=0.4+12j
word='Hi'
sentence='Tonight its going to rain'

print(type(X))
print(type(y))
print(type(z))
print(type(word))
print(type(sentence))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'>

In [ ]:
Suppose you are a university student, and you need to pay 5000 dirham tuition fee for the next semester.
The college is giving you a discount of 10% on the early payment of your tuition fee.
since its a good offer,you decided to make an early 
payment.can you find out how much money you have to pay?

In [ ]:
#creating a programme in which we need fees to be discounted
fee = 5000
discount_percent = 10

discount_amount = (discount_percent / 100) * fee


discounted_fee = fee-discount_amount

print('Fee after discount' , discounted_fee)

Fee after discount 4500.0

In [ ]:
#taking the output of this programme by using logical operator
language = "Python"
print("1.", language == "python")

age = 18
print("2.", age >= 18)
print("3.", age > 18)

print("4.", age >= 18 and language == "Java")

1. False
2. True
3. False
4. False

In [ ]:
creating a programe by converting kilometers into miles.

In [ ]:
# 1 kilometer->0.621371

# Program to convert kilometers to miles

distance_km = 564.5

conversion_ratio = 0.621371

distance_miles = distance_km * conversion_ratio

print(distance_miles)

350.7639295

In [ ]:
creating a programming in which we will build a calculator.

In [ ]:
#get 2 numbers from the user
print('Enter 2 numbers')
a=int(input())
b=int(input())

#calculate and print the result
print('The addition of '+str(a)+' and '+str(b)+'is'+str(a+b))
print('The subtraction of'+str(a)+' and '+str(b)+'is'+str(a-b))
print('The multiplication of'+str(a)+'and'+str(b)+'is'+str(a*b))
print('the division of '+str(a)+'and'+str(b)+'is'+str(a/b))
print('the modulus of'+str(a)+'and'+str(b)+'is'+str(a%b))
print('the modulus of'+str(a)+'and'+str(b)+'is'+str(a**b))

Enter 2 numbers
6
7
The addition of 6 and 7is13
The subtraction of6 and 7is-1
The multiplication of6and7is42
the division of 6and7is0.8571428571428571
the modulus of6and7is6
the modulus of6and7is279936