<a href="https://colab.research.google.com/github/FAIZAADNAN/FAIZAADNAN/blob/main/Chapter_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

Exercise 1: Print Strings ☑️
Write a Python program to print the following string in a specific format.

Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, 
Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are.

In [ ]:
print('twinkle twinkle little star')
print('how i wonder what you are')
print('up above the sky')
print('like a diamond in the sky')

twinkle twinkle little star
how i wonder what you are
up above the sky
like a diamond in the sky

In [ ]:
Exercise 2: Print the Version of Python ☑️
Write a Python program to get the Python version you are using.

In [ ]:
import sys
print("Python version")
print(sys.version)

Python version
3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
print("Version info.")
print(sys.version_info)

Version info.
sys.version_info(major=3, minor=7, micro=14, releaselevel='final', serial=0)

In [ ]:
Exercise 3: Print date and Time ☑️
Write a Python program to display the current date and time.

In [ ]:
from datetime import date
today = date.today()
print("Today's date:" , today )

Today's date: 2022-09-29

In [ ]:
from datetime import date
today = date.today()
# dd/mm/yy
d1 = today.strftime("%d/%m/%Y")
print("d1 =" , d1)

d1 = 29/09/2022

In [ ]:
# Textual month, day and year
d2 = today.strftime("%B %d, %Y")
print("d2 =", d2)

d2 = September 29, 2022

In [ ]:
# mm/dd/y
d3 = today.strftime("%m/%d/%y")
print("d3 =", d3)

d3 = 09/29/22

In [ ]:
#Month abbreviation, day and year
d4 = today.strftime("%b-%d-%Y")
print("d4 =" , d4)

d4 = Sep-29-2022

In [ ]:
from datetime import datetime
#datetime object containing current date and time 
now = datetime.now()
print("now =", now)

now = 2022-09-29 15:37:01.449397

In [ ]:
Exercise 4: Strings Concatination ☑️
Write three strings in different variables and print the output as one string.

In [ ]:
sentence1='i love to go switzerland:'


sentence2='with my husband:'


sentence3='we enjyoed alot'


#strings concatenation
print(sentence1+sentence2+sentence3)

i love to go switzerland:with my husband:we enjyoed alot

In [ ]:
Exercise 5: Compute area of Circle ☑️
Write a Python program which accepts the radius of a circle from the user and compute the area.

In [ ]:
from math import pi
r = float(input("Input the radius of the circle:"))
print("The area of the circle with radius " + str(r)+ "is "+str(pi*r**2))

Input the radius of the circle:3
The area of the circle with radius 3.0is 28.274333882308138

In [ ]:
Extra Programmes:

In [ ]:
# using ordinal function to convert alphabets to numbers
print("the ordinal value of all the alphabets,capital and lowercase are:")
# All alphabets A-Z and a-z converted to its ordinal value
print(ord('A'),ord('B'),ord('C'),ord('D'),ord('E'),ord('F'),ord('G'))
print(ord('a'),ord('b'),ord('c'),ord('d'),ord('e'),ord('f'),ord('g'))

the ordinal value of all the alphabets,capital and lowercase are:
65 66 67 68 69 70 71
97 98 99 100 101 102 103

In [ ]:
# using the characteristics function to convert numbers to number to alphabets
chr(66)
print('the characteristics value of 66 is')
print(chr(66),chr(67),chr(68),chr(69))

the characteristics value of 66 is
B C D E

In [ ]:
# using the characterisitics function to numbers to alphabets 
chr(97)
print('the characteristics value of 97 is')
print(chr(97),chr(98),chr(99),chr(100),chr(101))

the characteristics value of 97 is
a b c d e

In [ ]:
# using the binary function to convert numbers into binary code
bin(97)
print('the binary value of 97 is ')
print(bin(97),bin(98),bin(99),bin(100),bin(101))

the binary value of 97 is
0b1100001 0b1100010 0b1100011 0b1100100 0b1100101

In [ ]:
printing the area of the triangle.

In [ ]:
#finding the area of the triangle

a=6
b=7
c=9

#taking the input from the user
a = float(input('Enter the first side: '))
b = float(input('Enter the second side:  '))
c = float(input('Enter the third side:  '))

#calculate the semi-perimeter
s= (a +b +c) / 2

#calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

Enter the first side: 6
Enter the second side:  7
Enter the third side:  9
The area of the triangle is 20.98

In [ ]:
printing the area of the rectangular

In [ ]:
# finding the area of the rectangular

l=5
b=7

#taking the input from the user
l=  float(input('Enter the length of the rectangular:'))
b=  float(input('Enter the breadth of the rectangular:'))

#calculate the area
A= l*b
print('Area of the rectangular is:%.2f' %A)

Enter the length of the rectangular:5
Enter the breadth of the rectangular:7
Area of the rectangular is:35.00

In [ ]:
Lets look for an string concatenating a string(str)and an integer(int)using the +operator

In [ ]:
current_year_message = 'year is'
current_year = 2022
print('current_year_message + current_year')

current_year_message + current_year