<a href="https://colab.research.google.com/github/FAIZAADNAN/FAIZAADNAN/blob/main/practice_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#writing a programe to know the marks of the student.using nested if condition
name = 'faiza'
uni = 'bath spa'
marks = 90
if uni =='bath spa':
   if name == 'faiza':
      print('faiza of bath spa uni got :',marks,'marks')

faiza of bath spa uni got : 90 marks

In [ ]:
#writing a programme to know the marks of the student using  nested if else conditional statement 
x = 20
y = 45
z = 23
if x>y and x>z:
    print('x is greater')
else:
    if z>y:
        print('z is greater')
    else:
        print('y is greater')

y is greater

In [ ]:
#writing programe using for loop to know which letter is greater or lesser
for letter in [10,20,30,40]:
    if letter >=25:
       print(letter,'greater then 25')
    else:
       print(letter,'less than 25')

10 less than 25
20 less than 25
30 greater then 25
40 greater then 25

In [ ]:
#writing a programe using while loop if its ture or else
count = 1
while count <= 5:
    print(count)
    count=count+1
print('good luck')

1
2
3
4
5
good luck

In [ ]:
#writing a programe using while loop to break the statement
count = 0
while count<=5:
    if count==3:
       break
    else:
       print(count)
    count=count+1
print('thank you')

0
1
2
thank you

In [ ]:
#writing a programme using if nested statment to print the colour of the ballon and the point it earned
ballon_colour = 'purple'
if ballon_colour == 'yellow':
   print ('the player earned 5 points')
elif ballon_colour == 'blue':
   print('the player earned 10 points')
else:
   print('the player earned 20 points')

the player earned 20 points

In [ ]:
print('Select country:US/Australia')
country = str(input())
print('enter the number of the shipments')
shipment = int(input())
if country =='US':
   if shipment <=50:
     print('shipping cost is')
   elif shipment>50:
     print('the shipping cost is 25$')
   else:
     print('please contact the support system')
else:
      if country =='Australia':
        if shipment <=150:
          print('shipping cost is 100$')
        elif shipment>150:
          print('the shipping cost is 15$')
        else:
          print('please contact the customer service')

Select country:US/Australia
us
enter the number of the shipments
50

In [ ]:
num = float(input('Enter a number:'))
if num >=0:
   if num ==0:
      print('zero')
   else:
     print('the number is positive')
else:
     print('the number is negative')

Enter a number:-9
the number is negative

In [ ]:
#python programe to print the list of prime numbers
def prime_range(num):
    prime = []
    for i in range(2,num+1):
       for j in range(2,num+1):
          if i%j ==0:
             break
       if i == j:
           prime.append(i)
    return prime
number = int(input('enter a number: '))
print(prime_range(number))

enter a number: 16
[2, 3, 5, 7, 11, 13]

In [ ]:
#program of practising writing armstrong number
my_num = int(input('enter a number: '))
power_of_my_own = len(str(my_num))
total = 0
i = my_num
while i >0:
     remainder = i%10
     total += remainder**power_of_my_own
     i = i//10

if total == my_num:
   print(f'{my_num} is armstrong number')
else:
   print (f'{my_num} is not armstrong number')

enter a number: 789
789 is not armstrong number

In [ ]:
#python programe to swap two names using the third vairable
a = 'faiza'
b = 'adnan'
print('before swaping')
print('a =',a)
print('b =',b)
#taking third variable 'c'
c = a
a = b
b = c
print('After swaping')
print('a =',a)
print('b =',b)

before swaping
a = faiza
b = adnan
After swaping
a = adnan
b = faiza

In [ ]:
#taking two variables from the user compare and print the smaller number
print('Enter the first number :')
a=int(input())
print('enter the second number:')
b=int(input())

if a<b:
   print(a,'is the first number and it is the smaller then the second number',b)
elif a==b:
   print(a,'is the first number',b,'is the second number and both numbers are equal')
else:
   print(b, 'is the second number and its smaller then the first number')

Enter the first number :
10
enter the second number:
20
10 is the first number and it is the smaller then the second number 20

In [ ]:
my_list = [1,1,1,2,2,2,3,3,3,5,5,5]
print(f'your list{my_list}')
#convert list into set
#after that converts into list again
my_list = list(set(my_list))
print(f'unique list: {my_list}')

In [ ]:
My_string = input('enter your string: ')
check_empty = ""
for i in My_string:
    if i not in check_empty:
        check_empty += i
        string_count = My_string.count(i)
        print(f'{i}: {string_count}')

In [ ]:
#python programme tp print prime number from 1 to 100
i =2
while i <= 100:
    j = 2
    while j < 100:
        if i%j == 0:
           break
        j += 1
    if i == j:
        print(i,end=',')
    i += 1

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,