<a href="https://colab.research.google.com/github/FAIZAADNAN/FAIZAADNAN/blob/main/practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# creating a programe asking user car of their choice available in showroom or not
cars = ['Mercedes','lexus','ferrari','toyota','bmw']
print('enter car of ur choice')
user_car_choice=str(input())
if user_car_choice in cars:
   print(user_car_choice.upper(),'is available')
else:
   print('Sorry!',user_car_choice.upper(),'is not available')

enter car of ur choice
toyota
TOYOTA is available

In [ ]:
# creating a programme of cars nd colour of cars available in showroom and ask the user of there choice in car nd colours.
cars = ['Mercedes','lexus','ferrari','toyota','bmw']
colours = ['black','white','red','cyan']
print('Enter car of your choice:')
user_car_choice = str(input())
if user_car_choice in cars:
   print(user_car_choice.upper(),'is available')
   print('enter your choice of colour:')
   user_colour_choice=str(input())
if user_colour_choice in colours:
   print(user_colour_choice.title(),'colour',user_car_choice.upper(),'is available')
else: 
   print('Sorry!',user_car_choice,'is not available')

Enter car of your choice:
ferrari
FERRARI is available
enter your choice of colour:
cyan
Cyan colour FERRARI is available

In [ ]:
Program 3: write a program to create a pyramid of numbers

In [ ]:
n=int(input('Enter the number of rows:')) #fix number of rows
for i in range(0,n): #outer loop of handle rows
   for j in range(0,i+1): #inner loop of handle coloumns
      print(j,end='') #pyramid content
   print()

Enter the number of rows:10
0
01
012
0123
01234
012345
0123456
01234567
012345678
0123456789

In [ ]:
# A program to create a pyramid of stars
n = int(input('Enter number of rows:'))
for i in range(n,0,-1):
   for j in range(0,i-1):
     print('*',end=" ")
   print()

Enter number of rows:8
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# A program o create a pyramid of stars
n = int(input('enter the number of rows'))
for i in range(0,n):
   for j in range(0,i+1):
     print('*',end=' ')
   print()

enter the number of rows10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
# programme to print the odd number pattern
n = int(input('Enter a number of rows: '))
i = 1
while i<=n:
  j=1
  while j<=i:
    print((i*2-1), end=' ')
    j=j+1
  i=i+1
  print()

Enter a number of rows: 7
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9
11 11 11 11 11 11
13 13 13 13 13 13 13

In [ ]:
# print the even number using while loop
n=int(input('Enter the number or rows:'))
i =1
while i<=n:
  j=1
  while j<=i:
    print((i*2),end=' ')
    j=j+1
  i=i+1
  print()

Enter the number or rows:5
2
4 4
6 6 6
8 8 8 8
10 10 10 10 10

In [ ]:
# A program to print equilateral triangle Pyramid of stars
#printing full Triangle pyramid using stars
n=int(input('Enter the number of rows:'))
m = n
for i in range(0, n):
   for j in range(0, m):
       print(end=' ')
   #decreamenting m after each loop
   m = m - 1
   for j in range(0,i + 1):
       print('*',end=' ')
   print()

Enter the number of rows:10
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:
n=int(input('enter the number of rows needed'))
for i in range(n):
   for j in range(n-i-1):
       print(" ",end=" ")
   for j in range(i,-1,-1):
      print(i+1,end=" ")
   print()

enter the number of rows needed7
            1
          2 2
        3 3 3
      4 4 4 4
    5 5 5 5 5
  6 6 6 6 6 6
7 7 7 7 7 7 7

In [2]:
#printing numbers in right triangle shape
n=int(input('Enter the number of rows needed'))
for i in range(n):
   for j in range(i,-1,-1):
       print(j+1,end=' ')
   print()

Enter the number of rows needed9
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1
7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1

In [3]:
n=int(input('Enter number of rows needed:'))
for i in range(n):
    for j in range(i,-1,-1):
        print(i+1,end=' ')
    print()

Enter number of rows needed:9
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [4]:
n = int(input('Enter number of rowss needed:'))
for i in range(n):
    for j in range(i+1):
        print(n-i,end =" ")
    print()

Enter number of rowss needed:10
10
9 9
8 8 8
7 7 7 7
6 6 6 6 6
5 5 5 5 5 5
4 4 4 4 4 4 4
3 3 3 3 3 3 3 3
2 2 2 2 2 2 2 2 2
1 1 1 1 1 1 1 1 1 1

In [5]:
n = int(input('Enter number of rows:'))
for i in range(n):
    for j in range(i+1):
        print(n-j,end=" ")
    print()

Enter number of rows:10
10
10 9
10 9 8
10 9 8 7
10 9 8 7 6
10 9 8 7 6 5
10 9 8 7 6 5 4
10 9 8 7 6 5 4 3
10 9 8 7 6 5 4 3 2
10 9 8 7 6 5 4 3 2 1

In [6]:
#reversing the index value programe
n = int(input('Enter number of rows needed:'))
for i in range(n):
    for j in range(i,-1,-1):
        print(n-j,end=" ")
    print()

Enter number of rows needed:5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5